aiohttp==3.7.4.post0
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
brotlipy==0.7.0
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
colorama==0.4.4
conda==4.3.16
#conda-package-handling==1.7.2
cryptography==3.3.2
idna==2.10
iniconfig==1.1.1
lxml==4.6.3
#menuinst==1.4.16
multidict==5.1.0
packaging==20.9
pip>=20.3.1
pluggy==0.13.1
py==1.10.0
pycosat==0.6.3
pycparser==2.20
pyOpenSSL==20.0.0
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.4
pytest-asyncio==0.15.1
#pywin32==228
requests==2.25.0
#ruamel-yaml-conda==0.15.80
setuptools==57.0.0
six==1.15.0
soupsieve==2.2.1
toml==0.10.2
tqdm==4.54.1
typing-extensions==3.10.0.0
urllib3==1.26.5
wheel==0.36.1
win-inet-pton==1.1.0
wincertstore==0.2
yarl==1.6.3